%%-*- mode:erlang -*-

{sub_dirs, ["rel"]}.

{deps, [{ejson, ".*", {git, "https://github.com/benoitc/ejson.git"}},
        {lets, ".*", {git, "https://github.com/norton/lets.git"}},
        {gate, ".*", {git, "https://github.com/ananthakumaran/gate.git"}},
        {strftimerl, ".*", {git, "https://github.com/kennystone/strftimerl"}},
        {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git"}}]}.
